<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@hotwired/turbo"></script>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">from scratch press</a></li>
                <li><a href="/about/">about</a></li>
                <li><a href="/books/">books</a></li>
                <li><a href="/essays/">essays</a></li>
                <li><a href="/subscribe/">subscribe</a></li>
            </ul>
        </nav>
        <main>
            {{ content | safe }}
        </main>
    </div>
</body>
</html>
