---
layout: "base.njk"
---

<article class="content-bubble">
    <h1>{{ title }}</h1>
    <p class="essay-description">{{ description }}</p>
    <p class="essay-metadata">{{ date | essayDateFormat }}</p>

    <div class="essay-content">
        {{ content | safe }}
    </div>
</article>
{% if series %}
  {%- set currentSeries = seriesMeta[series] -%}
  {%- if currentSeries -%}
  <div class="series-nav content-bubble">
    <p>More from: <a href="/series/{{ series }}/">{{ currentSeries.title }}</a></p>
    <ul>
      {% for post in collections.series[series] %}
        {% if post.url == permalink %}
        <li>{{ post.data.title }}</li>
        {% else %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endif %}
<div class="subscribe-cta">
  <p>Want more essays like this? <a href="{{ site.subscribeUrl }}">Subscribe here</a>.</p>
</div>
