---
layout: "base.njk"
---

<article>
    <h1>{{ title }}</h1>
    <p class="essay-description">{{ description }}</p>
    <p class="essay-metadata">{{ date | essayDateFormat }}</p>

    <div class="essay-content">
        {{ content | safe }}
    </div>
</article>
<div class="subscribe-cta">
  <p>Want more essays like this? <a href="/subscribe/">Subscribe here</a>.</p>
</div>
