---
layout: base.njk
---

{% set meta = seriesMeta[series] %}

<h1>{{ title }}</h1>
<p>{{ meta.description }}</p>

<ul class="essays-list">
  {%- for post in collections.series[series] -%}
    {%- include "essay-card.njk" -%}
  {%- endfor -%}
</ul>
