{% if compact %}
  {% set iframeHeight = 150 %}
{% else %}
  {% set iframeHeight = 320 %}
{% endif %}

<iframe
  src="{{ site.substackUrl }}embed"
  width="100%"
  height="{{ iframeHeight }}"
  style="border: none;">
</iframe>
